.container 
{
	max-width: 800px;
	height: auto;
	background-color: #DFDFDF;
	margin: 1% auto;
	padding-bottom: 0rem;
	border-radius: 5%;
}
.form_top
{
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #F39B53;
	margin-bottom: 1rem;
}
.form_top h2
{
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}
h2 span
{
	color: #F39B53;
}
.form_reg
{
	display: flex;
	flex-direction:  column;
	justify-content: left;
}

.btn_form
{
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn_submit, .btn_reset
{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}
.input:focus
{
	border-bottom: solid #F39B53 .2rem;
}
.btn_submit, .btn_reset
{
	width: 40%
	border-bottom: none;
	background-color: #31b1e5;
}
.btn_reset
{
	background-color: #eda135;
}
.btn_submit:hover
{
	background-color: #4c9ed9;
}
.btn_reset:hover
{
	background-color: #fa9535;
}

.paginado
{
	text-decoration: none;
	letter-spacing: 3px;
	color: #36A89A;
	background-color: #DEDEDE;

	padding: 7px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.paginado:hover 
{
  color: #093A34;
  background-color: #F0B4B4;
}
.paginado:active 
{
  color: #830F1D;
  background-color: yellow;
}
.paginaA
{
	max-width: 70px;
	background-color: #DFDFDF;
	border-radius: 30%;
	text-align: center;
	padding: 7px 13px;
}
